.content__list{
    list-style: none;
}
.item__ttl{
    border-bottom: 1px solid #33333318;
}

.card__url {
    display: block;
    flex-wrap: wrap;
}

.card__button {
    display: inline-block;
    padding: 12px 18px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    transition: 0.2s;
    background-color: #ed5a0a;
    color: white;
}