.content__list{
    list-style: none;
}
.item__ttl{
    border-bottom: 1px solid #33333318;
}

.card__url {
    display: block;
    flex-wrap: wrap;
}

.card__button {
    display: inline-block;
    padding: 12px 18px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    transition: 0.2s;
    background-color: #ed5a0a;
    color: white;
}
.card{
    display: flex;
    justify-content: space-between;
}
.child__info{
    display: flex;
    gap: 20px;
}
.card__child__img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
    background-color: #eee;
    border: 3px solid #f2c94c;
}

.card__child__img img{
    border-radius: 20px;
}